@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --color-bris-blue: #0d4380;
  --color-bris-blue-dark: #092d58;
  --color-bris-blue-light: #1a5fa8;
}

* {
  font-family: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}
